.Header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
    background-color: rgb(189, 192, 181);
} 
#logo {
    width: 100px;
    height: 100px;
}
#logo img {
    width: 100%;
}

#name {
    width: 75%;
    display: flex;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
}

.Heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
}

.sudoku_grid {
    display: flex;
    flex-direction: row;
    max-width: 578px;
    flex-wrap: wrap;
    margin: 10px auto;
}

.sudoku_grid input {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 40px;
    border: 2px solid black;
    box-sizing: border-box;
    color: black;
}

.Buttons {   
    display: flex;
    justify-content: center;
    width: 100%;    
    margin-bottom: 40px;
}

#GetPuzzle, #SolvePuzzle {
    display: inline-block;
    text-decoration: none;
    color: #020202;
    font-weight: bold;
    background-color: #a29fa1;
    padding: 10px 35px;
    font-size: 24px;
    border: 1px solid #f5f9f7;
    box-shadow: inset 0px 1px 0px #a29fa1;
    margin-right: 10px;
}

.box1 {
    background-color: #f3f7f6;
    border: 2px solid rgb(0, 0, 0);
}

.box1:hover {
    background-color: #a29fa1;
    color: black;
}

.box2 {
    background-color: #f3f3ee;
    border: 2px solid rgb(0, 0, 0);
}
.box2:hover {
    background-color: #a29fa1;
}

.box3 {
    background-color: #fafbfa;
    border: 2px solid rgb(0, 0, 0);
}
.box3:hover {
    background-color: #a29fa1;
    color: black;
}

.bl {
    border-left: 4px solid black;
}

.bb {
    border-bottom: 4px solid black;
}

.br {
    border-right: 4px solid black;
}

.bt {
    border-top: 4px solid black;
}

/* General styling for the grid cells */
.sudoku_grid input {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 40px;
    border: 1px solid black;
    box-sizing: border-box;
    color: black;
}

/* Thicker borders to create a Tic-Tac-Toe style division for 3x3 blocks */
.sudoku_grid input {
    border: 1px solid black;
}

/* Thicker left border for the start of each 3x3 block column */
.sudoku_grid input:nth-child(3n+1) {
    border-left: 3px solid black;
}

/* Thicker right border for the end of each 3x3 block column */
.sudoku_grid input:nth-child(3n) {
    border-right: 3px solid black;
}

/* Thicker top border for the start of each 3x3 block row */
.sudoku_grid input:nth-child(-n+9):nth-child(1n+1) {
    border-top: 3px solid black;
}

/* Thicker bottom border for the end of each 3x3 block row */
.sudoku_grid input:nth-child(n+73) {
    border-bottom: 3px solid black;
}

/* Base styling for each cell in the Sudoku grid */
.sudoku_grid input {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 40px;
    border: 1px solid black;
    box-sizing: border-box;
    color: black;
}

/* Base styling for each cell in the Sudoku grid */
.sudoku_grid input {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 40px;
    border: 1px solid black;
    box-sizing: border-box;
    color: black;
}

/* Add thick vertical lines after the 3rd and 6th columns */
.sudoku_grid input:nth-child(3n) {
    border-right: 4px solid black;
}

/* Add thick horizontal lines after the 3rd and 6th rows */
.sudoku_grid input:nth-child(n+19):nth-child(-n+27), /* Bottom border after row 3 */
.sudoku_grid input:nth-child(n+46):nth-child(-n+54) { /* Bottom border after row 6 */
    border-bottom: 4px solid black;
}

/* Additional styling for top and left borders to frame the grid */
.sudoku_grid input:nth-child(1) {
    border-top: 4px solid black; /* Top border for the first row */
}
.sudoku_grid input:nth-child(1),
.sudoku_grid input:nth-child(10),
.sudoku_grid input:nth-child(19),
.sudoku_grid input:nth-child(28),
.sudoku_grid input:nth-child(37),
.sudoku_grid input:nth-child(46),
.sudoku_grid input:nth-child(55),
.sudoku_grid input:nth-child(64),
.sudoku_grid input:nth-child(73) {
    border-left: 4px solid black; /* Left border for the first column */
}

